body{
    background-color: rgb(228, 223, 223);
}
.head{
    text-align: center;
}
.index{
    background-color: rgb(180, 85, 22);
    margin: 1em;
    padding: 20px;
    border-radius: 1em;
}
.grid{
    background-color: rgb(17, 219, 226);
    margin: 1em;
    padding: 20px;
    border-radius: 1em;
}
